<div class="card">
    <div class="card-header">
        Personal Details
    </div>
    <div class="card-body">
        <EditForm Model="@fullserveform" OnValidSubmit="@HandleValidSubmit">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <div class="form-group">
                <label for="nameInput">Name</label>
                <InputText class="form-control" id="nameInput" @bind-Value="fullserveform.Name" />
            </div>
            <div class="form-group">
                <label for="emailInput">Email</label>
                <InputText class="form-control" id="emailInput" @bind-Value="fullserveform.Email" />
            </div>
            <div class="form-group">
                <label for="ucidInput">UCID</label>
                <InputText class="form-control" id="ucidInput" @bind-Value="fullserveform.UCID" />
            </div>
            <div class="form-group">
                <label for="commentsInput">Comments</label>
                <InputText class="form-control" id="commentsInput" @bind-Value="fullserveform.Comments" />
            </div>
            <div>
                <button type="submit" id="submitForm" class="btn btn-primary">Submit</button>
            </div>
        </EditForm>
        <div>@success</div>
    </div>
</div>

@code {
    private FullServeModel fullserveform = new FullServeModel { };
    private string success = "";

    public void HandleValidSubmit()
    {
        success = "success";
    }

}

