@page "/fullserveform"
@using MkrsUnion.Components;

<style>
    .ml-auto.col-10{
        padding-left:100px;
    }
    .btn.btn-primary{
        padding-left:10px;
    }
</style>


<div class="d-flex justify-content-between">
    <div class="mr-auto col-2"><button type="submit" class="btn btn-primary">Back</button></div>
    <div class="ml-auto col-10"><h1>Full Serve 3D-Printing Submission Form</h1></div>
</div>

<FullServeForm></FullServeForm>
@code {

}

