@page "/"

<div class="text-center">
    <h1>Welcome to MkrsUnion</h1>
</div>

<div class="d-flex">
    <div class="container">
      <div class="row g-2">
        <div class="col-md-4 d-flex">
          <div class="p-3 border bg-light rounded">
              <div class="container">
                <h3>I'm New Here</h3>
                <p>
                    Want to learn what the makerspace is all about? We'll walk you through
                    all the steps you need to get acquainted with the space, and help make 
                    sure you have all the necessary knowledge to use our machines safely and
                    confidently. This includes getting you signed up for a safety orientation,
                    and booking your first machine.
                </p>
                <a class="btn btn-info" href="GettingStarted">Let's get started!</a>
              </div>
          </div>
        </div>
        <div class="col-md-4 d-flex">
          <div class="p-3 border bg-light rounded">
              <div class="container">
                <h3>Browse Events</h3>
                <p>
                    The makerspace offers a variety of programming. Even if you've already 
                    done the safety orientation, there are lots of options for workshops, 
                    classes, meetups, and more. Click here to browse our upcoming events.
                </p>
                <a class="btn btn-info" href="WorkshopBooking">Sign me up!</a>
              </div>
          </div>
        </div>
        <div class="col-md-4 d-flex">
          <div class="p-3 border bg-light rounded">
              <div class="container">
                <h3>Book a Machine</h3>
                <p>
                    So you're an old hand at this? Welcome back! If you've already completed
                    an orientation and know exactly what you're looking for, click here to 
                    book a machine timeslot.
                </p>
                <a class="btn btn-info" href="MachineBooking">Go make it!</a>
              </div>
          </div>
        </div>
      </div>
    </div>
</div>


@code {

}