@page "/MachineBooking"
<PageTitle>Machines</PageTitle>

<h1>Machines</h1>

<ToggleList>
    <CardHeader0>3D Printing Self Service</CardHeader0>
    <CardBody0>3D Printing self service description goes here</CardBody0>
    <CardHeader1>3D Printing Full Service</CardHeader1>
    <CardBody1>3D Printing full service description goes here</CardBody1>
    <CardHeader2>Carvey Milling Machine</CardHeader2>
    <CardBody2>Milling machine description goes here</CardBody2>
</ToggleList>

@code {
}