button#listview {
    width: 30px:
}

.image {
    height: 200px;
    width: 250px;
}

.image img {
    height: 100%;
    width: 100%;
    border: 5px solid #FB992B;
    border-radius: 5px;
}

.card {
    height: 320px;
    width: 300px;
    position: relative;
    background: #F2F2F2;
    margin: 5px 0;
    border-radius: 3px;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card .card-body {
    display: grid;
    align-items: center;
    padding: 10px;
}

.card .card-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    color: #64574F;
}

.card-title .name{
    font-size: 20px;
    font-weight: 600;
}

.card .button{
    display: grid;
    justify-content: space-around;
    margin-top: 5px;
    margin-bottom: 5px;
}

.card .button button {
    background: #64574F;
    outline: none;
    border: none;
    color: #F2F2F2;
    padding: 8px 22px;
    font-size: 14px;
    transition: all 0.3s ease;
}

.button button:hover {
    background: #FB992B;
}

div#description-box {
    margin-top: 25px;
    height: 300px;
    width: 100%;
}

div#description-box .card-title {
    font-size: 25px;
    font-weight: 400;
    color: #FB992B;
}

.carousel-control-prev {
    top: 45%;
    width: 5%;
    height: 20%;
}

.carousel-control-next {
    top: 45%;
    width: 5%;
    height: 20%;
}

/*
    https://icons.getbootstrap.com/icons/arrow-left-circle-fill/
*/
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff0000' viewBox='0 0 16 16'%3E%3Cpath d='M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z'/%3E%3C/svg%3E");
}

/*
    https://icons.getbootstrap.com/icons/arrow-right-circle-fill/
*/
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff0000' viewBox='0 0 16 16'%3E%3Cpath d='M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z'/%3E%3C/svg%3E");
}
