/**
 * ALL the UI design credit goes to:
 * https://www.sketchappsources.com/free-source/2676-calendar-template-sketch-freebie-resource.html
 */

/*
Hours
Monday to Friday 10:00AM to 5:00PM
Saturday & Sunday 12:00PM to 4:00PM
*/

/* WRAPPER */

.wrapper {
    display: grid;
    grid-template-rows: 10px 1fr 10px;
    grid-template-columns: 1fr;
    grid-template-areas: "content";
    width: 85vw; /* unnecessary, but let's keep things consistent */
    height: 100vh;
  }
  
  
  
  /* MAIN */
  main {
    grid-area: content;
    padding: 48px;
  }

  .toolBar{
    display: flex;
    align-items: center;
    margin-bottom: 0px;
    padding-bottom: 3px;
  }
  .calendar{}
  .currentMonth{
    color: red;
    text-align: center;
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
  }
  
  .calendarHourRow,
  .calendarHeader {
    display: grid;
    grid-template-columns: 0.5fr repeat(7, 1fr);  
  }
  .calendarHourRow {
    grid-auto-rows: 50px;
    grid-auto-columns: 20px;
    text-align: right;
  }
  
  .calendarHeader {
    grid-auto-columns: 20px;
    align-items: center;
    text-align: center;
  }
  
  .calendarWeekday {
    padding: 2px;
    text-align: right;
    vertical-align: top;
  }
  
  
  
  
  /* COSMETIC STYLING */
    
  body {
    font-family: Montserrat;
    font-weight: 100;
    color: #A8B2B9;
  }
  
  main {
    background-color: #FCFBFC;
  }
  
  
  .calendar {
    background-color: white;
    border: 1px solid #e1e1e1;
  }
  
  .calendarHeader > div {
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: bold;
  }
  
  .calendarWeekday {
    border-left: 1px solid #e1e1e1;
    border-top: 1px solid #e1e1e1;
  }
  
  .calendarWeekday:last-child {
    border-right: 0;
  }
  