@page "/scheduler"
@inject Blazored.SessionStorage.ISyncSessionStorageService sessionStorage

@using Microsoft.AspNetCore.Components.Rendering
@using System;
@using System.Text.RegularExpressions;

<PageTitle>Scheduler</PageTitle>


<h1 class="text-center">Scheduler</h1>

<div>
	@startSelected[0]
</div>
<div>
	@startSelected[1]
</div>
<div>
	just clicked hour ind: @hh
</div>
<div>
	just clicked weekday ind: @ww
</div>
<div>
	blockage: @bb
</div>

<div class="back">
    <button type="button" onclick="history.back()" class="btn btn-danger">Back</button>
</div>

<div class="d-flex">
	@if(isNewUser == "true") {
        <Workflow
            CurrentStep="currentWorkflowStep"
        />
    }

	<div class="form-wrapper">
		<h3 class="text-center mb-5">Booking Details</h3>
		<div class="mb-3 row">
			<label for="staticDate" class="col-sm-2 col-form-label">Date:</label>
			<div class="col-sm-10">
				<input class="form-control form-control-sm" type="date" value=@selectedDate>
			</div>
			<label for="staticDate" class="col-sm-2 col-form-label">From:</label>
			<div class="col-sm-10">
				<input class="form-control form-control-sm" type="time" @bind="selectedStartTime" @bind:format="HH:mm">
			</div>
			<label for="staticDate" class="col-sm-2 col-form-label">To:</label>
			<div class="col-sm-10 mb-5">
				<input class="form-control form-control-sm" type="time" @bind="selectedEndTime" @bind:format="HH:mm">
			</div>
			<label class="col-sm-2 col-form-label">Name</label>
		    <div class="col-sm-10 mb-3">
			    <input type="text" class="form-control" @bind=@name/>
		    </div>
            <label class="col-sm-2 col-form-label">Email</label>
		    <div class="col-sm-10 mb-3">
			    <input type="text" class="form-control" @bind=@email/>
		    </div>
            <label class="col-sm-2 col-form-label">UCID</label>
            <div class="col-sm-10 mb-3">
			    <input type="text" class="form-control" @bind=@ucid/>
                @if (validUCID(@ucid)) {
                    if (ucidCompletedSafety(@ucid)){
                        <p id="completed">Safety orientation completed</p>
                    } else {
                        <p id="noSafety">
                            The UCID you have entered has not completed the mandatory
                            safety orientation. Please sign up for one through the workshop
                            & Events page.
                        </p>
                    }
                } else if (ucid.Length < 8 && ucid.Length > 0) {
                    <p id="noSafety">Not valid UCID</p>
                }
            </div>
			<button class="btn btn-primary col-3 mt-1" id="confirm" role="button">Book it!</button>
		</div>
	</div>

	<div class="calendar-wrapper">
		<div class="mx-auto">
			<Estimator />
		</div>

		<div class="wrapper">
			<main>

				<div class="toolBar">
					<button type="button" class="btn btn-primary">Previous</button>
					<div class="currentMonth">2022 January 30 - 2022 February 2</div>
					<button type="button" class="btn btn-primary">Next</button>
				</div>

				<div class="calendar">
					<div class="calendarHeader">
						<div>Time</div>
						<div>Sun Jan 30</div>
						<div>Mon Jan 31</div>
						<div>Tue Feb 1</div>
						<div>Wed Feb 2</div>
						<div>Thu Feb 3</div>
						<div>Fri Feb 4</div>
						<div>Sat Feb 5</div>
					</div>

					<div class="calendarHourRow">
						<div class="calendarWeekday" id="time">10:00am</div>
						<div class="calendarWeekday" @onclick="() => occupy(0,0)" id=@statuses[0,0]></div>
						<div class="calendarWeekday" @onclick="() => occupy(0,1)" id=@statuses[0,1]>Out of Order</div>
						<div class="calendarWeekday" @onclick="() => occupy(0,2)" id=@statuses[0,2]></div>
						<div class="calendarWeekday" @onclick="() => occupy(0,3)" id=@statuses[0,3]></div>
						<div class="calendarWeekday" @onclick="() => occupy(0,4)" id=@statuses[0,4]></div>
						<div class="calendarWeekday" @onclick="() => occupy(0,5)" id=@statuses[0,5]></div>
						<div class="calendarWeekday" @onclick="() => occupy(0,6)" id=@statuses[0,6]></div>
					</div>
					<div class="calendarHourRow">
						<div class="calendarWeekday" id="time">11:00am</div>
						<div class="calendarWeekday" @onclick="() => occupy(1,0)" id=@statuses[1,0]></div>
						<div class="calendarWeekday" @onclick="() => occupy(1,1)" id=@statuses[1,1]></div>
						<div class="calendarWeekday" @onclick="() => occupy(1,2)" id=@statuses[1,2]></div>
						<div class="calendarWeekday" @onclick="() => occupy(1,3)" id=@statuses[1,3]></div>
						<div class="calendarWeekday" @onclick="() => occupy(1,4)" id=@statuses[1,4]></div>
						<div class="calendarWeekday" @onclick="() => occupy(1,5)" id=@statuses[1,5]></div>
						<div class="calendarWeekday" @onclick="() => occupy(1,6)" id=@statuses[1,6]></div>
					</div>
					<div class="calendarHourRow">
						<div class="calendarWeekday" id="time">12:00pm</div>
						<div class="calendarWeekday" @onclick="() => occupy(2,0)" id=@statuses[2,0]></div>
						<div class="calendarWeekday" @onclick="() => occupy(2,1)" id=@statuses[2,1]></div>
						<div class="calendarWeekday" @onclick="() => occupy(2,2)" id=@statuses[2,2]></div>
						<div class="calendarWeekday" @onclick="() => occupy(2,3)" id=@statuses[2,3]></div>
						<div class="calendarWeekday" @onclick="() => occupy(2,4)" id=@statuses[2,4]></div>
						<div class="calendarWeekday" @onclick="() => occupy(2,5)" id=@statuses[2,5]></div>
						<div class="calendarWeekday" @onclick="() => occupy(2,6)" id=@statuses[2,6]></div>
					</div>
					<div class="calendarHourRow">
						<div class="calendarWeekday" id="time">1:00pm</div>
						<div class="calendarWeekday" @onclick="() => occupy(3,0)" id=@statuses[3,0]></div>
						<div class="calendarWeekday" @onclick="() => occupy(3,1)" id=@statuses[3,1]></div>
						<div class="calendarWeekday" @onclick="() => occupy(3,2)" id=@statuses[3,2]></div>
						<div class="calendarWeekday" @onclick="() => occupy(3,3)" id=@statuses[3,3]></div>
						<div class="calendarWeekday" @onclick="() => occupy(3,4)" id=@statuses[3,4]></div>
						<div class="calendarWeekday" @onclick="() => occupy(3,5)" id=@statuses[3,5]></div>
						<div class="calendarWeekday" @onclick="() => occupy(3,6)" id=@statuses[3,6]></div>
					</div>
					<div class="calendarHourRow">
						<div class="calendarWeekday" id="time">2:00pm</div>
						<div class="calendarWeekday" @onclick="() => occupy(4,0)" id=@statuses[4,0]></div>
						<div class="calendarWeekday" @onclick="() => occupy(4,1)" id=@statuses[4,1]></div>
						<div class="calendarWeekday" @onclick="() => occupy(4,2)" id=@statuses[4,2]></div>
						<div class="calendarWeekday" @onclick="() => occupy(4,3)" id=@statuses[4,3]></div>
						<div class="calendarWeekday" @onclick="() => occupy(4,4)" id=@statuses[4,4]></div>
						<div class="calendarWeekday" @onclick="() => occupy(4,5)" id=@statuses[4,5]></div>
						<div class="calendarWeekday" @onclick="() => occupy(4,6)" id=@statuses[4,6]></div>
					</div>
					<div class="calendarHourRow">
						<div class="calendarWeekday" id="time">3:00pm</div>
						<div class="calendarWeekday" @onclick="() => occupy(5,0)" id=@statuses[5,0]></div>
						<div class="calendarWeekday" @onclick="() => occupy(5,1)" id=@statuses[5,1]></div>
						<div class="calendarWeekday" @onclick="() => occupy(5,2)" id=@statuses[5,2]></div>
						<div class="calendarWeekday" @onclick="() => occupy(5,3)" id=@statuses[5,3]></div>
						<div class="calendarWeekday" @onclick="() => occupy(5,4)" id=@statuses[5,4]></div>
						<div class="calendarWeekday" @onclick="() => occupy(5,5)" id=@statuses[5,5]></div>
						<div class="calendarWeekday" @onclick="() => occupy(5,6)" id=@statuses[5,6]></div>
					</div>
					<div class="calendarHourRow">
						<div class="calendarWeekday" id="time">4:00pm</div>
						<div class="calendarWeekday" @onclick="() => occupy(6,0)" id=@statuses[6,0]></div>
						<div class="calendarWeekday" @onclick="() => occupy(6,1)" id=@statuses[6,1]></div>
						<div class="calendarWeekday" @onclick="() => occupy(6,2)" id=@statuses[6,2]></div>
						<div class="calendarWeekday" @onclick="() => occupy(6,3)" id=@statuses[6,3]></div>
						<div class="calendarWeekday" @onclick="() => occupy(6,4)" id=@statuses[6,4]></div>
						<div class="calendarWeekday" @onclick="() => occupy(6,5)" id=@statuses[6,5]></div>
						<div class="calendarWeekday" @onclick="() => occupy(6,6)" id=@statuses[6,6]></div>
					</div>
				</div>
			</main>
		</div>
	</div>
</div>

@code {
	public string name = "";
	public string email = "";
	public string ucid = "";
	public string isNewUser { get; set; }
    public int currentWorkflowStep { get; set; }
	public string selectedDate = "YYYY-MM-DD";
	public DateTime selectedStartTime { get; set; }
	public DateTime selectedEndTime { get; set; }

    protected override void OnInitialized()
    {
        isNewUser = sessionStorage.GetItem<string>("isNewUser");
        currentWorkflowStep = int.Parse(sessionStorage.GetItem<string>("currentWorkflowStep"));
        Console.WriteLine($"Value for isNewUser = {isNewUser}");
        Console.WriteLine($"Value for currentWorkflowStep = {currentWorkflowStep}");
    }

	public string[] completedSafety = new string[] { "12345678", "87654321", "34509876" };
	public bool ucidCompletedSafety(string ucid) {
		foreach (string id in completedSafety){
			if (ucid.Equals(id)){
				return true;
			}
		}
		return false;
	}

	public bool validUCID(string ucid) {
		Regex rx = new Regex(@"^[0-9]*$", RegexOptions.Compiled);
		bool match = rx.IsMatch(ucid);
		if (ucid.Length == 8 && match) {
			return true;
		} else {
			return false;
		}
	}

	private String[,] statuses =
			{{"o", "x", "o", "o", "o", "t", "t"},
			{"o", "x", "o", "o", "o", "t", "t"},
			{"o", "x", "o", "t", "o", "t", "o"},
			{"o", "x", "o", "t", "o", "o", "t"},
			{"o", "x", "o", "t", "o", "t", "t"},
			{"t", "x", "o", "o", "o", "t", "o"},
			{"t", "x", "o", "o", "o", "t", "o"}};

	private String selectDate(int weekdayInd){
		if (weekdayInd <=1){
			return "2022-01-" + (30 + weekdayInd).ToString();
		}
		return "2022-02-0" + (weekdayInd - 1).ToString();
	}

	private DateTime selectTime(int hourInd){
		return DateTime.Parse((10 + hourInd).ToString() + ":00:00", System.Globalization.CultureInfo.CurrentCulture);

	}


	private void clearPreviousStart(int hourInd, int weekdayInd){
		for (int i = 0; i < 7; i++){
			if (i != weekdayInd){
				for (int j = 0; j < 7; j++){
					if (statuses[j, i].Equals("s", StringComparison.Ordinal)){
						statuses[j, i] = "o";
					}
				}
			}
			else{
				for (int j = hourInd; j < 7; j++){
					if (statuses[j, i].Equals("s", StringComparison.Ordinal)){
						statuses[j, i] = "o";
					}
				}
			}
				
		}
	}

	private Boolean blockage(int start, int end, int weekdayInd){
		for (int i = start+1; i <= end; i++){
			if (!statuses[i, weekdayInd].Equals("o", StringComparison.Ordinal) &&
				!statuses[i, weekdayInd].Equals("s", StringComparison.Ordinal)
			){
				return true;
			}
		}
		return false;
	}


	private int[] startSelected = {8, 8};
	private String bb = "";
	private String hh = "";
	private String ww = "";
	private void occupy(int hourInd, int weekdayInd)
	{
		if (statuses[hourInd, weekdayInd].Equals("o", StringComparison.Ordinal))
		{
			if (startSelected[0] < hourInd &&  startSelected[1] == weekdayInd){
				bb = blockage(startSelected[0], hourInd, weekdayInd).ToString();
				hh = hourInd.ToString();
				ww = weekdayInd.ToString();
				if (!blockage(startSelected[0], hourInd, weekdayInd)){
					for (int i = startSelected[0]; i <= hourInd; i++){
						statuses[i, weekdayInd] = "s";
					}
					selectedEndTime = selectTime(hourInd + 1);
				}
			}
			else {
				clearPreviousStart(hourInd, weekdayInd);
				statuses[hourInd, weekdayInd] = "s";
			
				selectedDate = selectDate(weekdayInd);
				selectedStartTime = selectTime(hourInd);
				selectedEndTime = selectTime(hourInd + 1);
				startSelected[0] = hourInd;
				startSelected[1] = weekdayInd;
			}
		}
	}
}
