@page "/scheduler"
<PageTitle>Scheduler</PageTitle>
<h1>Scheduler</h1>

<div class="container">
  <div class="wrapper">
    <main>
      <div class="toolbar">
        <button type="button" class="btn btn-primary">Previous</button>
        <div class="currentMonth">January 30 - February 2</div>
        <button type="button" class="btn btn-primary">Next</button>
      </div>
      <div class="calendar">
        <div class="calendar__header">
          <div>Time</div>
          <div>Sunday</div>
          <div>Monday</div>
          <div>Tuesday</div>
          <div>Wednesday</div>
          <div>Thursday</div>
          <div>Friday</div>
          <div>Saturday</div>
        </div>
        @{createCalendarRow(__builder);}
      </div>
    </main>
  </div>
</div>

@using Microsoft.AspNetCore.Components.Rendering
@code {

  void createCalendarRow(RenderTreeBuilder __builder) {
    string timeString;
    for (int i = 8; i < 24; i++) {
      if (i == 0){
        timeString = "12:00am";
      }
      else if (i < 12){
        timeString = i.ToString() + ":00am";
      }
      else if (i == 12){
        timeString = "12:00pm";
      }
      else{
        timeString = (i-12).ToString() + ":00pm";
      }
      <div class="calendarHour"> 
        <div class="calendarWeekday">@timeString</div> 
        <div class="calendarWeekday"></div>
        <div class="calendarWeekday"></div>
        <div class="calendarWeekday"></div>
        <div class="calendarWeekday"></div>
        <div class="calendarWeekday"></div>
        <div class="calendarWeekday"></div>
        <div class="calendarWeekday"></div>
      </div>;
    }    
  }

}