
<h3>ToggleList</h3>

<div class="accordion" id="accordionExample">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h2 class="mb-0">
                <button class="btn btn-link" type="button" @onclick="Toggle0">
                    <b>@CardHeader0</b>
                </button>
            </h2>
        </div>
        @if (Show0)
         {
             <div id="collapseOne">
                <div class="card-body">
                    @CardBody0
                </div>
             </div>
         }
    </div>
    <div class="card">
        <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
                <button class="btn btn-link" type="button" @onclick="Toggle1">
                    <b>@CardHeader1</b>
                </button>
            </h2>
        </div>
        @if (Show1)
        {
            <div id="collapseTwo">
                <div class="card-body">
                    @CardBody1
                </div>
            </div>
        }
    </div>
    <div class="card">
        <div class="card-header" id="headingThree">
            <h2 class="mb-0">
                <button class="btn btn-link" type="button" @onclick="Toggle2">
                    <b>@CardHeader2</b>
                </button>
            </h2>
        </div>
        @if (Show2)
        {
            <div id="collapseThree">
                <div class="card-body">
                    @CardBody2
                </div>
            </div>
        }
    </div>
</div>

@code {
    [Parameter] public RenderFragment CardBody0 { get; set; }
    [Parameter] public RenderFragment CardHeader0 { get; set; }
    [Parameter] public RenderFragment CardBody1 { get; set; }
    [Parameter] public RenderFragment CardHeader1 { get; set; }
    [Parameter] public RenderFragment CardBody2 { get; set; }
    [Parameter] public RenderFragment CardHeader2 { get; set; }

    [Parameter] public bool Show0 { get; set; } = false;
    [Parameter] public bool Show1 { get; set; } = false;
    [Parameter] public bool Show2 { get; set; } = false;


    public void Toggle0()
    {
        Show0 = !Show0;
    }
    public void Toggle1()
    {
        Show1 = !Show1;
    }
    public void Toggle2()
    {
        Show2 = !Show2;
    }
}
