<style>
    .contact-button {
        position: fixed;
        bottom: 0;
        right: 0;
        padding: 10px;
    }
</style>

<div class="contact-button">
    <a href="mailto: mrksunion@ucalgary.ca">
        <svg width="64" height="63" viewBox="0 0 64 63" fill="none" xmlns="http://www.w3.org/2000/svg">
            <ellipse cx="32" cy="31.5" rx="32" ry="31.5" fill="#2D2D2D" />
            <path d="M26.166 31.0415C28.099 31.0415 29.666 29.3906 29.666 27.354C29.666 25.3175 28.099 23.6665 26.166 23.6665C24.233 23.6665 22.666 25.3175 22.666 27.354C22.666 29.3906 24.233 31.0415 26.166 31.0415Z" fill="white" />
            <path d="M37.834 31.0415C39.767 31.0415 41.334 29.3906 41.334 27.354C41.334 25.3175 39.767 23.6665 37.834 23.6665C35.901 23.6665 34.334 25.3175 34.334 27.354C34.334 29.3906 35.901 31.0415 37.834 31.0415Z" fill="white" />
            <path d="M31.9994 8.9165C19.1333 8.9165 8.66602 17.7395 8.66602 28.5832C8.66602 35.732 13.0923 42.1409 20.3327 45.6293V58.0832L32.7927 48.24C45.2924 47.886 55.3327 39.2032 55.3327 28.5832C55.3327 17.7395 44.8654 8.9165 31.9994 8.9165ZM31.9994 43.3332H31.2224L24.9994 48.2498V42.308L23.5037 41.7008C17.2317 39.1565 13.3327 34.1292 13.3327 28.5832C13.3327 20.4485 21.707 13.8332 31.9994 13.8332C42.2917 13.8332 50.666 20.4485 50.666 28.5832C50.666 36.7178 42.2917 43.3332 31.9994 43.3332Z" fill="white" />
        </svg>
    </a>
</div>

@code {

}

