<nav class="navbar navbar-expand-sm navbar-light bg-light">

    <div class="collapse navbar-collapse">
        <ul class="navbar-nav">

            <li class="nav-item active">
                <a href="WorkshopBooking" class="nav-link">
                    Workshops and Events
                </a>
            </li>
            <li class="nav-item active">
                <a href="MachineBooking" class="nav-link">
                    Book a Machine
                </a>
            </li>
            <li class="nav-item active">
                <a href="resources" class="nav-link">
                    Other Resources
                </a>
            </li>
        </ul>
    </div>

    <a href="#" class="navbar-brand">
        MKRS Union
    </a>

</nav>

@code {

}
