@inherits LayoutComponentBase


<div class="page">

    <main>
        <div>
            <MkrsUnion.Shared.Header/>
        </div>

        <div class="d-flex">
            <div id="sidebar">
                <Workflow/>
            </div>

            <article class="content px-4">
                @Body
            </article>
        </div>
    </main>
</div>
