@inherits LayoutComponentBase


<div class="page">

    <main>
        <div>
            <MkrsUnion.Shared.Header/>
        </div>

        <button class="btn btn-primary" type="button" @onclick="ToggleSidebarFilter">Toggle Sidebar</button>

        <div class="d-flex">
            @if (toggleSidebar)
            {                
                <div id="sidebar">
                    <Workflow/>
                </div>
            }

            <article class="content px-4">
                @Body
            </article>
        </div>
    </main>
</div>

@code {
    bool toggleSidebar = true;

    public void ToggleSidebarFilter()
    {
        toggleSidebar = !toggleSidebar;
    }
}
