.textbox-label{
    font-family: Roboto;
    padding: 5px 20px 5px 5px;
}

.textbox{
    border: 2px solid darkgray;
    border-radius: 4px;
    width: 50%;
}

.textbox:focus {
    outline-color: #75a8ff;
}
