.workflow-container {
    height: 600px;
    position: relative;
    margin: 20px auto;
    background-color: inherit;
}

.workflow {
    height: inherit;
    flex: 1 1 auto;
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    z-index: 2
}

.explanation {
    height: 100px;
    width: 800px;
    border-radius: 6px;
    border-style: solid;
    border-width: 6px;
    border-color: black;
    background-color: lightgray;
    padding: 10px;
}
