<div class="workshop">
    <div class="row row-cols-2">
        <div class="col">
            <h4>@details.title</h4>
            <p>
                Date: @details.date <br>
                Time: @details.time <br>
                Location: @loc <br>
                Categories: 
                @foreach (var category in details.categories)
                {
                    <span>@category &nbsp;</span>
                } 
                <br>
            </p>
        </div>
        <div class="col">
            <img src=@details.imgSrc width="200" height="130"/>
        </div>
        <div class="col">
            <button class="btn btn-outline-primary btn-sm" type="button" @onclick="Toggle">
                Description
            </button>
        </div>
        <div class="col">
            <a class="btn btn-primary" 
                href="workshopconfirm/@details.title/@details.date/@details.time/@loc/@details.description/@details.imgNum"
                role="button"
            >
                Register
            </a>
        </div>
    </div>
    @if (toggle)
    {
        <p class="description">
            <div class="card card-body">
                @details.description
            </div>
        </p>
    }
</div>

@code {
    [Parameter]
    public WorkshopDetails details { get; set; }

    string loc = "TDFL Makerspace";

    bool toggle = false;

    public void Toggle() {
        toggle = !toggle;
    }
}
