<div class="workflow-container">
    <div class="line bg-secondary"/>
    <div class="workflow">
        @{int i=0;}
        @foreach (string step in WorkflowSteps)
        {
            @if (i < CurrentStep)
            {                
                <div class="circle workflow-row success d-flex align-items-center justify-content-center text-center">
                    @step
                </div>
            } 
            else if (i == CurrentStep) {
                <div class="circle workflow-row in-progress d-flex align-items-center justify-content-center text-center">
                    @step
                </div>
            }
            else
            {
                <div class="circle workflow-row to-do d-flex align-items-center justify-content-center text-center">
                    @step
                </div>               
            }
            i++;
        }
    </div>
</div>

@code {
    [Parameter]
    public List<string> WorkflowSteps { set; get; }

    [Parameter]
    public int CurrentStep { set; get; }
}
