<div class="workflow-container">
    <div class="line"/>
    <div class="workflow">
        <div class="circle workflow-row btn-primary d-flex align-items-center justify-content-center">
            <div>Step 1</div>
        </div>
        <div class="circle workflow-row btn-primary d-flex align-items-center justify-content-center">
            <div>Step 2</div>
        </div>
        <div class="circle workflow-row btn-primary d-flex align-items-center justify-content-center">
            <div>Step 3</div>
        </div>
        <div class="circle workflow-row btn-primary d-flex align-items-center justify-content-center">
            <div>Step 4</div>
        </div>
    </div>
</div>

@code {

}
